.section > div.columns-wrapper {
  margin-bottom: 70px;
}

.home .section > div.columns-wrapper {
  margin-bottom: 0;
}

.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns p > em:only-child,
.columns div > em:only-child {
  font-size: var(--body-font-size-xs);
  font-style: normal;
}

.img-h4-p p.picture {
  grid-area: picture;
  margin: 0;
  width: 120px;
}

.columns.large img,
.columns.large p.picture {
  max-width: unset;
}

.columns p {
  font-size: var(--body-font-size-m);
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (max-width: 900px) {
  .columns > div > .columns-img-col img {
    max-width: 390px;
    position: relative;
    left: calc(100vw - 375px);
    margin-right: -30px;
  }

  .columns > div > .columns-img-col {
    order: 1;
  }

  .columns > div > div {
    order: 0;
  }
}

@media (min-width: 900px) {
  .columns p:not(.picture) {
    max-width: 404px;
  }

  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }

  .isi-fragment .columns p:not(.picture) {
    max-width: unset;
  }

  .isi-fragment .columns > div > div:last-of-type {
    padding-left: 10px;
  }

  .columns img,
  .columns ul,
  .columns h2 {
    max-width: 511px;
  }
}

.columns.large {
  max-width: 1260px;
  margin-top: 35px;
}

.columns.safety p {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}

.img-h4-p p:not(.picture) {
  grid-area: p;
  margin: 0;
  font-size: 14px;
}

.home .columns.large p {
  font-size: var(--body-font-size-l);
  margin-top: 40px;
  margin-bottom: 40px;
}

.columns ul {
  list-style-type: none;
  font-size: var(--body-font-size-s);
  padding-left: 18px;
}

.isi-fragment .columns ul {
  font-size: var(--body-font-size-xs);
}

.columns ul li {
  position: relative;
  padding-bottom: 15px;
}

.columns ul li::before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: var(--text-blue);
  border-radius: 4px;
  top: 10px;
  margin-left: -15px;
  box-sizing: border-box;
}

.columns.large a.button:any-link {
  font-size: var(--body-font-size-m);
}

.columns.large .button-container {
  margin-top: 50px;
}

.columns.large .button-container + p {
  font-size: var(--body-font-size-m);
}

.columns.safety {
  max-width: 1046px;
  margin: auto;
  align-items: flex-end;
  justify-content: center;
}

.columns.large > div {
  align-items: start;
  gap: 40px;
}

.columns.safety > div {
  align-items: start;
  flex-direction: unset;
  gap: 0;
  border-top: 1px solid #BABABA;
  padding-top: 30px;
  margin-bottom: 30px;
}

.columns.safety > div >div:nth-child(1) {
  width: 520px; /* TODO fix */
}

.columns.safety p strong {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}

.columns.safety > div > div:nth-child(1) > p {
  font-size: 14px;
  line-height: 14px;
  margin: 15px 0;
  color: var(--text-color);
}

.columns.safety ul {
  padding-right: 10px;
  padding-left: 15px;
  padding-bottom: 8px;
}

.columns.safety ul li::before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: var(--text-blue);
  border-radius: 4px;
  margin-left: -15px;
  margin-right: 7px;
  top: 7px;
}

.columns.safety ul li {
  line-height: 20px;
  padding-bottom: 16px;
  position: relative;
}

@media (max-width: 900px) {
  .columns.safety {
    padding-right: 15px;
    padding-left: 15px;
  }

  .columns.safety > div {
    flex-direction: column;
    gap: 0;
  }

  .columns.safety ul {
    margin:0;
  }

  .columns.safety ul li {
    padding-bottom: 12px;
  }

  .columns.safety > div >div:nth-child(1) {
    width: 100%;
  }

  .columns.safety > div >div:nth-child(2) {
    margin-top: 13px;
  }

  .columns.safety > div > div:nth-child(2) > p:nth-child(1) {
    margin:0 0 10px;
    line-height: 14px;
  }
}

.columns.spray > div > div:last-of-type {
  position: relative;
}

.columns.spray > div > div:last-of-type picture:last-of-type img {
  width: 342px;
  height: 249px;
  position: absolute;
  bottom: -75px;
  right: -145px;
}

.about .columns.spray > div > div:last-of-type picture:last-of-type img {
  bottom: 32px;
  right: -120px;
}

.columns.large > div > div:nth-child(2){
  top: 150px;
  position: sticky;
  opacity: 1;
  animation: fade 2s linear
}

.columns.large h1 {
  line-height: 56px;
  font-size: var(--heading-font-size-xxl);
  letter-spacing: -1.54px;
  margin-bottom: 20px;
}

.columns.large ul {
  margin:0;
  padding:0;
  margin-top:30px;
}

.columns.large ul li::before {
  background-image: url("/icons/deco.png");
  background-repeat: no-repeat;
  left: -22px;
  content: '';
  position: absolute;
  top: -17px;
  width: 56px;
  height: 43px;
}

.columns.large ul li {
  background-color: var(--text-white);
  border-radius: 8px;
  margin-bottom: 25px;
  padding: 24px 40px 20px;
  position: relative;
  max-width: 431px;
}

.columns.large.cards ul:nth-of-type(1) li {
  margin:0;
  background-color: pink;
  border-radius: 8px;
  padding: 19px 16px;
  margin-bottom: 9px;
  color: var(--text-white);
}

.columns.large.cards ul:nth-of-type(1) li:nth-of-type(1)::before {
  background-image: none;
}

.columns.large.cards ul:nth-of-type(1) li:nth-of-type(2)::before {
  background-image: none;
}

.columns.large.cards ul:nth-of-type(1) li:nth-of-type(3)::before {
  background-image: none;
}

.columns.large.cards ul:nth-of-type(1) li:nth-child(1) {
  background-color: #A60063;
}

.columns.large.cards ul:nth-of-type(1) li:nth-child(2) {
  background-color: #3D7B00;
}

.columns.large.cards ul:nth-of-type(1) li:nth-child(3) {
  background-color: #0074AF;
}

.columns.large.cards ul:nth-of-type(1) strong {
  font-size: 20px;
}

.columns.large.cards ul:nth-of-type(1) a strong {
  font-size: 16px;
}

.columns.large.cards ul:nth-of-type(1) a {
  text-align: right;
  width: 100%;
  color: var(--text-white);
  align-content: end;
  left: calc(100% - 140px);
  position: relative;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: -0.16px;
  font-weight: bold;
  background-image: url("/icons/white-arrow-right.svg");
  background-repeat: no-repeat;
  background-position: center right;
  padding-right: 25px;
}

@media (min-width: 900px) {
  .columns.large li {
    max-width: 479px;
  }
}

@media (max-width: 900px) {
  .columns.spray .columns-img-col picture:last-of-type img {
    display: none;
  }

  .columns.large > div {
    flex-direction: column-reverse;
    gap:0;
  }

  .columns.large > div > div:nth-child(2) {
    top: 0;
    position: relative;
    opacity: 1;
    animation: fade 2s linear
  }
}

.img-h4-p {
  display: grid;
  grid-template:
  'picture h4'
  'picture p';
  grid-template-columns: 133px 1fr;
  height: 100px;
}

.img-h4-p h4 {
  grid-area: h4;
  margin: 0;
  align-self: end;
  font-size: 20px;
  padding-bottom: 5px;
}

.img-h4-p:nth-of-type(1) h4 {
  color: var(--text-pink);
}

.img-h4-p:nth-of-type(2) {
  padding-top: 15px;
  padding-bottom: 15px;
}

.img-h4-p:nth-of-type(2) h4 {
  color: var(--text-green);
}

.img-h4-p:nth-of-type(3) h4 {
  color: var(--text-blue);
}

.about .columns > div > div:nth-of-type(1) {
  order: 1;
}

.about .columns > div > div:nth-of-type(2) {
  order: 0;
}
