.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns p,
.columns img {
  max-width: 511px;
}

.columns.large img {
  max-width: unset;
}

.columns p {
  font-size: var(--body-font-size-m);
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns {
  max-width: 1046px;
  margin:auto;
}

.columns.large p {
  font-size: var(--body-font-size-l);
  margin-top: 40px;
  margin-bottom: 40px;
}

.columns li {
  list-style: none;
  padding-inline-start: 0;
  font-size: var(--body-font-size-xs);
}

.columns.large a.button:any-link {
  font-size: var(--body-font-size-m);
}

.columns.large .button-container {
  margin-top: 50px;
}

.columns.safety p {
  font-size: 14px;
  line-height: 20px;
  color: var(--text-color);
}

.columns.large .button-container + p {
  font-size: var(--body-font-size-m);
}

.columns.safety {
  max-width: 1260px;
  width: 100%;
  margin: auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.columns.safety > div {
  align-items: start;
  flex-direction: unset;
  gap: 32px;
  border-top: 1px solid #BABABA;
  padding-top: 30px;
  margin-bottom: 30px;
}

.columns.safety > div >div:nth-child(1) {
  width: 520px; /* TODO fix */
}

.columns.safety p strong {
  font-size: 14px;
  line-height: 14px;
  margin-bottom: 10px;
}

.columns.safety > div > div:nth-child(1) >p {
  font-size: 14px;
  line-height: 14px;
  margin: 15px 0;
  color: var(--text-color);
}

.columns.safety ul {
  padding-right: 10px;
  padding-left: 15px;
  padding-bottom: 8px;
}

.columns.safety ul li::before {
  content: '';
  width: 6px;
  height: 6px;
  position: absolute;
  background-color: var(--text-blue);
  border-radius: 4px;
  margin-left: -15px;
  margin-right: 7px;
  top: 7px;
}

.columns.safety ul li {
  line-height: 20px;
  padding-bottom: 16px;
  position: relative;
}

