.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (min-width: 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 32px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}

.columns p,
.columns img {
  font-size: var(--body-font-size-m);
  max-width: 511px;
}

.columns.large p {
  font-size: var(--body-font-size-l);
  margin-top: 40px;
  margin-bottom: 40px;
}

.columns.large img {
  max-width: unset;
}

.columns li {
  list-style: none;
  padding-inline-start: 0;
  font-size: var(--body-font-size-xs);
}

.columns.large a.button:any-link {
  font-size: var(--body-font-size-m);
}

.columns.large .button-container {
  margin-top: 50px;
}

.columns.large .button-container + p {
  font-size: var(--body-font-size-m);
}
