/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
  'brand extra extra' 50px
  'brand sections sections' 1fr;
  align-items: start;
  justify-content: space-between;
  gap: 0 2em;
  margin: auto;
  max-width: 1260px;
  height: var(--nav-height);
  font-family: var(--body-font-family);
}

header nav ul {
  display: flex;
  font-weight: 700;
  list-style: none;
  justify-content: end;
  margin: 12px 0;
}

header nav a:any-link {
  text-decoration: none;
}

.nav-brand {
  grid-area: brand;
  align-self: end;
}

.nav-brand img {
  width: 212px;
  height: auto;
}

.nav-extra {
  grid-area: extra;
  height: 45px;
  font-size: var(--nav-font-size-xs);
  padding: 0 10px;
}

.nav-extra li {
  padding: 8px 22px 11px 0;
}

.nav-extra ul li {
  position: relative;
}

.nav-extra li:last-of-type {
  margin-right: 0;
}

.nav-extra a:any-link {
  color: var(--text-pink);
  letter-spacing: -0.12px;
  padding-right: 3px;
}

.nav-extra a:hover {
  border-bottom: 2px solid #CC569A;
  color: #CC569A;
}

.nav-extra ul li ul {
  display: none;
  font-weight: 400;
}

.nav-extra ul li:hover ul {
  display: unset;
}

.nav-sections .current {
  border-bottom: 2px solid;
}

@media (min-width: 900px) {
  .nav-extra ul li ul {
    position: absolute;
    left: 40px;
    top: 10px;
    margin-left: -55px;
    font-size: 14px;
    padding: 12px 16px;
    z-index: 9;
    color: #231F20;
    overflow: hidden;
    box-shadow: 0 -3px 8px #0000001a;
    border-radius: 16px;
    background-color: var(--background-color);
    width: 267px;
    line-height: 22px;
  }
}

.nav-sections a:hover {
  border-bottom: 2px solid var(--link-hover-color);
}

.nav-extra ul li ul a:any-link {
  color: var(--link-color);
}

.nav-sections {
  grid-area: sections;
  font-size: var(--nav-font-size-m);
  padding: 0 10px;
}

.nav-tools {
  grid-area: tools;
  display: none;
}

nav svg {
  fill: var(--text-blue);
  cursor: pointer;
}

.nav-extra svg {
  fill: var(--text-pink);
}

@media (max-width: 900px) {
  header nav {
    grid-template:
    'top top top' 35px
    'brand tools tools' 73px
    'sections sections sections' 1fr
    'extra extra extra' 1fr;
  }

  header nav ul {
    align-items: end;
  }

  .nav-brand img {
    height: 56px;
    width: auto;
    margin-left: 15px;
    margin-bottom: 4px;
  }

  .nav-extra {
    background-color: var(--highlight-background-color);
    padding: 0;
  }

  .nav-extra ul {
    margin: 0;
    padding: 0;
    height: 35px;
    display: block;
    font-size: 14px;
    line-height: 32px;
    padding-inline-start: 0;
  }

  .nav-extra li {
    margin: auto;
    letter-spacing: -0.14px;
    padding: 3px 22px;
  }

  .nav-extra a:any-link {
    line-height: 22px;
    padding-right: 0;
    letter-spacing: -0.14px;
  }

  .nav-sections li {
    padding: 10px 12px 4px;
  }

  .nav-extra li:nth-of-type(3) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: 14px;
    text-align: center;
    background-color: var(--highlight-background-color);
  }

  .nav-extra li:last-of-type {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    padding-bottom: 15px;
  }

  .nav-sections {
    display: none;
  }

  .nav-extra {
    height: 0;
  }

  nav[aria-expanded="true"] .nav-extra {
    height: unset;
  }

  .nav-extra li {
    display: none;
  }

  .nav-extra ul li:nth-of-type(3),
  nav[aria-expanded="true"] .nav-extra li {
    display: block;
  }

  .nav-sections li:last-of-type a {
    background-color: var(--button-bg-color);
    color: var(--text-white);
    padding: 6px 24px;
    border-radius: 8px 24px;
    letter-spacing: -0.16px;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    width: 292px;
    display: block;
    font-size: 16px;
    margin: auto;
  }

  nav[aria-expanded="true"] .nav-sections,
  nav[aria-expanded="true"] .nav-extra,
  nav[aria-expanded="true"] .nav-extra li {
    display: block;
    background-color: var(--highlight-background-color);
  }

  .nav-sections ul {
    display: block;
    font-size: 20px;
    line-height: 32px;
    padding-inline-start: 0;
  }

  .nav-tools {
    display: block;
    margin-top: 5px;
    font-size: 14px;
  }

  .icon {
    transform: translateY(6px);
    margin-left: 6px;
  }

  .icon.icon-x {
    transform: translateY(1px);
  }

  .icon-bars,
  .icon-x {
    margin-left: 25px;
    margin-right: 20px;
  }

  .icon-x {
    display: none;
  }

  nav[aria-expanded="true"] .icon-bars {
    display: none;
  }

  nav[aria-expanded="true"] .icon-x {
    display: block;
  }
}

@media (min-width: 900px) {
  .nav-brand img {
    translate: -7px -5px;
  }

  .nav-sections li {
    padding-left: 12px;
    padding-right: 16px;
  }

  .nav-sections li:last-of-type {
    transform: translateY(-6px);
  }

  .nav-sections li:last-of-type .icon {
    transform: translateY(6px);
    margin-left: 5px;
  }

  .nav-extra li:nth-of-type(2) {
    transform: translateY(-6px);
  }
  
  .nav-extra li:last-of-type,
  .nav-sections li:last-of-type {
    padding-right: 0;
  }
}

.icon-media-arrow-down {
  height: 18px;
  width: 12px;
  transform: translateY(5px);
  margin-left: 7px;
}