/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
  'brand extra extra' 50px
  'brand sections sections' 1fr;
  align-items: start;
  justify-content: space-between;
  gap: 0 2em;
  margin: auto;
  max-width: 1260px;
  height: var(--nav-height);
  font-family: var(--body-font-family);
}

/* header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
} */

header nav ul {
  display: flex;
  font-weight: 700;
  list-style: none;
  justify-content: end;
  margin: 12px 0;
}

header nav a:any-link {
  text-decoration: none;
}

.nav-brand {
  grid-area: brand;
  align-self: end;
}

.nav-brand img {
  width: 212px;
  height: auto;
  translate: -7px -5px;
}

.nav-extra {
  grid-area: extra;
  height: 45px;
  font-size: var(--body-font-size-xs);
  padding: 0 10px;
}

.nav-extra li {
  margin: 8px 22px 11px 0;
}

.nav-sections li {
  padding: 0 16px 0 12px;
}

.nav-extra ul li {
  position: relative;
}

.nav-extra li:last-of-type {
  margin-right: 0;
}

.nav-extra a:any-link {
  color: var(--text-pink);
}

.nav-extra a:hover {
  border-bottom: 2px solid var(--text-pink);
}

.nav-extra ul li ul {
  display: none;
  position: absolute;
  left: 40px;
  top: 10px;
  margin-left: -55px;
  font-size: 14px;
  padding: 12px 16px 12px 16px;
  z-index: 9;
  color: #231F20;
  line-height: 18px;
  overflow: hidden;
  box-shadow: 0 -3px 8px #0000001a;
  border-radius: 16px;
  font-weight: 400;
  background-color: var(--background-color);
  width: 267px;
  line-height: 22px;
}

.nav-extra ul li:hover ul {
  display: unset;
}

.nav-sections a:hover {
  border-bottom: 2px solid var(--link-hover-color);
}

.nav-extra ul li ul a:any-link {
  color: var(--link-color);
}

.nav-sections {
  grid-area: sections;
  font-size: var(--body-font-size-m);
  padding: 0 10px;
}

.nav-sections li:last-of-type {
  padding-right: 0;
}

.nav-tools {
  grid-area: tools;
  display: none;
}