/* header and nav layout */
header .nav-wrapper {
  background-color: var(--background-color);
  width: 100%;
  z-index: 2;
  position: fixed;
}

header nav {
  box-sizing: border-box;
  display: grid;
  grid-template:
  'brand extra extra' 50px
  'brand sections sections' 1fr;
  align-items: start;
  justify-content: space-between;
  gap: 0 2em;
  margin: auto;
  max-width: 1260px;
  height: var(--nav-height);
  font-family: var(--body-font-family);
}

/* header nav[aria-expanded="true"] {
  grid-template:
    'hamburger brand' var(--nav-height)
    'sections sections' 1fr
    'tools tools' var(--nav-height) / auto 1fr;
  overflow-y: auto;
  min-height: 100vh;
} */

header nav ul {
  display: flex;
  font-weight: 700;
  list-style: none;
  justify-content: end;
  margin: 12px 0;
}

header nav a:any-link {
  text-decoration: none;
}

.nav-brand {
  grid-area: brand;
  align-self: end;
}

.nav-brand img {
  width: 212px;
  height: auto;
}

.nav-extra {
  grid-area: extra;
  height: 45px;
  font-size: var(--nav-font-size-xs);
  padding: 0 10px;
}

.nav-extra li {
  margin: 8px 22px 11px 0;
}

.nav-sections li {
  padding: 0 16px 0 12px;
}

.nav-extra ul li {
  position: relative;
}

.nav-extra li:last-of-type {
  margin-right: 0;
}

.nav-extra a:any-link {
  color: var(--text-pink);
}

.nav-extra a:hover {
  border-bottom: 2px solid var(--text-pink);
}

.nav-extra ul li ul {
  display: none;
  position: absolute;
  left: 40px;
  top: 10px;
  margin-left: -55px;
  font-size: 14px;
  padding: 12px 16px;
  z-index: 9;
  color: #231F20;
  overflow: hidden;
  box-shadow: 0 -3px 8px #0000001a;
  border-radius: 16px;
  font-weight: 400;
  background-color: var(--background-color);
  width: 267px;
  line-height: 22px;
}

.nav-extra ul li:hover ul {
  display: unset;
}

.nav-sections a:hover {
  border-bottom: 2px solid var(--link-hover-color);
}

.nav-extra ul li ul a:any-link {
  color: var(--link-color);
}

.nav-sections {
  grid-area: sections;
  font-size: var(--nav-font-size-m);
  padding: 0 10px;
}

.nav-sections li:last-of-type {
  padding-right: 0;
}

.nav-tools {
  grid-area: tools;
  display: none;
}

nav svg {
  fill: var(--text-blue);
  cursor: pointer;
}

.nav-extra svg {
  fill: var(--text-pink);
}

@media (max-width: 900px) {
  header nav {
    grid-template:
    'extra extra extra' 35px
    'brand tools tools' 73px
    'sections sections sections' 1fr;
  }

  header nav ul {
    align-items: end;
  }

  .nav-brand img {
    height: 56px;
    width: auto;
    margin-left: 15px;
    margin-bottom: 4px;
  }

  .nav-extra {
    background-color: var(--highlight-background-color);
    height: 35px;
  }

  .nav-extra ul {
    margin: 0;
    justify-content: center;
  }

  .nav-extra li {
    display: none;
  }

  .nav-extra li:nth-of-type(3) {
    display: block;
  }

  .nav-sections {
    display: none;
  }

  .nav-sections li:last-of-type a {
    background-color: var(--button-bg-color);
    color: var(--text-white);
    font-size: var(--body-font-size-s);
    padding: 12px 24px;
    border-radius: 8px 24px;
    letter-spacing: -0.16px;
    text-decoration: none;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
  }

  nav[aria-expanded="true"] .nav-sections {
    display: block;
    background-color: var(--highlight-background-color);
  }

  .nav-sections ul {
    display: block;
    font-size: 20px;
    line-height: 32px;
    padding-inline-start: 0;
  }

  .nav-sections li {
    padding-top: 10px;
    padding-bottom: 4px;
  }

  .nav-sections li:last-of-type a {
    width: 340px;
    height: 22px;
    display: block;
    font-size: 16px;
    margin: auto;
  }

  .nav-tools {
    display: block;
    margin-top: 5px;
    font-size: 14px;
  }

  .icon {
    transform: translateY(6px);
    margin-left: 6px;
  }

  .icon.icon-x {
    transform: translateY(1px);
  }

  .icon-bars,
  .icon-x {
    margin-left: 25px;
    margin-right: 20px;
  }

  .icon-x {
    display: none;
  }

  nav[aria-expanded="true"] .icon-bars {
    display: none;
  }

  nav[aria-expanded="true"] .icon-x {
    display: block;
  }
}

@media (min-width: 900px) {
  .nav-brand img {
    translate: -7px -5px;
  }

  .nav-sections li:last-of-type {
    transform: translateY(-6px);
  }

  .nav-sections li:last-of-type .icon {
    transform: translateY(6px);
    margin-left: 5px;
  }
}