footer {
  font-size: var(--body-font-size-m);
  background-color: var(--footer-bg-color);
  color: var(--text-white);
  display: block;
  margin: 0;
}

footer .footer {
  background-image: url("/icons/footer-bg.svg");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 0 10px 10px;
}

footer .footer p {
  margin: 0;
}

.footer > div > div {
  display: flex;
  flex-flow: row nowrap;
  margin: 0 auto;
  max-width: 1260px;
  padding-bottom: 50px;
  position: relative;
}

.footer ul {
  display: inline-block;
  list-style-type: none;
  margin: 0;
}

.footer ul li {
  margin-bottom: 17px;
}

.footer ul:nth-child(1) {
  padding: 40px 40px 0 0;
  max-width: 300px;
}

.footer ul:nth-child(1) li {
  color: #86878A;
  line-height: 20px;
  margin-bottom: 15px;
  padding-bottom: 5px;
  font-size: 12px;
  text-shadow: none;
}

.footer ul:nth-child(1) li:nth-child(1) {
  max-width: 230px;
  padding: 0 0 24px;
  width: 100%;
  margin:0;
  text-align: center;
  position: relative;
}

.footer ul:nth-child(1) li:nth-child(1) picture {
  width: 100%;
  display: inline-block;
  vertical-align: middle;
  border: 0;
  height: 55.688px;
}

.footer ul:nth-child(1) li:nth-child(2) {
  padding-right: 35px;
}

.footer ul:nth-child(1) li:nth-child(4) {
  padding-bottom: 0;
  margin-bottom: 5px;
}

.footer ul li .icon {
  padding-right: 8px;
  width: 32px;
  height: 17px;
}

.footer ul li .icon > svg {
  width: 32px;
  height: 17px;
  vertical-align: middle;
}

.footer a {
  color: #fff;
  text-decoration: none;
  text-align: left;
  font-family: inherit;
  font-size: 16px;
  line-height: 22px;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
}

.footer li strong {
  text-decoration: none;
}

.footer a:any-link {
  border-bottom: 2px solid transparent;
}

.footer a:hover {
  border-bottom: 2px solid #fff;
}

@media (min-width: 900px){
  .footer {
    padding-bottom: 50px;
  }

  .footer ul {
    max-width: 340px;
    padding: 75px 0 0 25px;
  }

  .footer ul:nth-child(1){
    padding-top: 40px;
  }

  .footer ul:nth-child(2) {
    padding: 75px 10% 0 25px;
  }
}

@media (max-width: 900px) {
  footer .footer {
    padding: 0 0 10px;
    background-position: 28px 216px;
  }

  .footer > div > div {
    padding: 0 25px;
    display: flex;
    flex-flow: column nowrap;
  }

  .footer ul {
    padding: 0;
  }

  .footer ul:nth-child(1) {
    margin-top: 24px;
    padding: 0;
  }

  .footer ul:nth-child(1) li:nth-child(4) {
    display: none;
  }

  .footer ul:nth-child(1) li:nth-child(5) {
    display: none;
  }
}